In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

In [7]:
data = pd.read_csv('./csv/1.02.Multiplelinearregression.csv')

In [9]:
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [10]:
x = data[['SAT','Rand 1,2,3']]
y = data['GPA']

In [11]:
reg = LinearRegression()

In [12]:
reg.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
reg.score(x,y)

0.4066811952814285

In [16]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [17]:
reg.intercept_

0.29603261264909486

In [20]:
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]
adjusted_r2 = 1 - (1-r2) * (n-1)/(n-p-1)
adjusted_r2

0.39203134825134023

In [21]:
# There are different ways to solve this problem
# To make it as easy and interpretable as possible, we have preserved the original code
def adj_r2(x,y):
    r2 = reg.score(x,y)
    n = x.shape[0]
    p = x.shape[1]
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2

In [22]:
adj_r2(x,y)

0.39203134825134023